/* Variables */
$base-gray: #393939;
$accent-blue: #7ECDDF;
$accent-blue-shade: #5F9AA7;
$accent-blue-shade-2: #4F808B;
$animation-blue: #30BCDC;
$accent-orange: #FFAB52;
$accent-orange-shade: #BF803E ;
$animation-orange: #FF9320;

/* Tags */
body {
    background-color: $base-gray;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: black;
}

hr {
    margin: 30px 0;
    height: 10px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, $accent-orange));
    margin-bottom: 1%;
}

footer {
    color:  $accent-blue;
    text-align: center;
}

/* Classes */
.navbar {
    background-color: $base-gray !important;
}

.nav-link, .navbar-brand {
    color: $accent-blue !important;
    :hover {
        color:$accent-blue-shade !important;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 205, 223, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  
.navbar-toggler {
    border-color: $accent-blue !important;
} 

.firstslave {
	display: inline-block;
  	padding-right: 1px;
  	transition: all 1s;
}

.secondslave { 
    display: inline-block;
	padding-left: 1px;
	transition: all 1s;
}

.nav-item:hover .firstslave {
	display: inline-block;
	padding-right: 10px;
	transition: all 1s;
}

.nav-item:hover .secondslave {
	display: inline-block;
	padding-left: 10px;
	transition: all 1s;
}

.left {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 160px;
	left: 100px;
}

.right {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 160px;
	right: 80px;
}

.carousel-caption {
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white !important;
}

.border-gradient {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
}

.border-gradient-accent {
    border-image-source: linear-gradient(to left, $accent-orange, $accent-blue);
}

.btn-primary {
    background-color: transparent;
    :hover {
        background-color: $accent-blue-shade-2;
    }
}

.blue {
    color: $accent-blue;
}

.orange {
    color: $accent-orange;
}

.cc {
    animation: color-change 6s infinite;
}

.links {
    padding-top: 15px;
    i, a {
    padding-left: 6px;
    color:  $accent-blue;
        :hover {
            color: $accent-blue-shade;
        }
    }
}

/* ID's */
#showcase {
    color: white;
}

/* Keyframes */
@keyframes color-change {
    0% {
        color: $accent-blue;
    }
    50% {
        color: $accent-orange;
    }
    100% {
        color: $accent-blue;
    }
}

/* Media Querys */
@media (max-width: 1024px) {
	.left, .right {
		font-size: 12px;
		top: 120px;
		width: 300px;
	}

	.left {
		left: 20px;
	}

	.right {
		right: 20px;
	}
}

@media (max-width: 767px) {
	.left, .right {
		display: none;
    }
}