body {
	font-family: "Inconsolata", monospace;
}

hr {
    margin: 30px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
    margin-bottom: 1%;
}

footer {
	background-color: #272727;
	color: white;
	align-content: center;
	text-align: center;
	padding-bottom: 0.25%;
	padding-top: 0.25%;
}

footer a, footer a:visited, footer a:hover, footer a:active {
	color: #FFAB52;
	text-decoration:none;
}

.bg-dark {
	background-color: #393939 !important;
}

.nav-link, .navbar-brand {
	color: #7ECDDF !important;
}

.nav-link:hover, .navbar-brand:hover {
	color: #5F9AA7 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 205, 223, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(126, 205, 223) !important;
} 

.firstslave {
	display: inline-block;
  	padding-right: 1px;
  	transition: all 1s;
}

.secondslave { display: inline-block;
	padding-left: 1px;
	transition: all 1s;
}

.nav-item:hover .firstslave {
	display: inline-block;
	padding-right: 10px;
	transition: all 1s;
}

.nav-item:hover .secondslave {
	display: inline-block;
	padding-left: 10px;
	transition: all 1s;
}

.left {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 160px;
	left: 100px;
	text-align: center;
}

.right {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 160px;
	right: 80px;
	text-align: center;
}

.about-me {
	background-color: #393939;
	color: #FFFFFF;
}

.about-me a, .about-me a:visited, .about-me a:hover, .about-me a:active {
	color: #FFAB52;
	text-decoration:none;
}


@media (max-width: 1024px) {
	.left, .right {
		font-size: 12px;
		top: 120px;
		width: 300px;
	}

	.left {
		left: 20px;
	}

	.right {
		right: 20px;
	}
}

@media (max-width: 767px) {
	.left, .right {
		display: none;
}
