/* Variables */
$base-gray: #393939;
$accent-blue: #7ECDDF;
$accent-blue-shade: #5F9AA7;
$accent-blue-shade-2: #4F808B;
$animation-blue: #30BCDC;
$accent-orange: #FFAB52;
$accent-orange-shade: #BF803E ;
$animation-orange: #FF9320;

/* Tags */
body {
    background-color: $base-gray;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    color: white;
}

hr {
    margin: 30px 0;
    height: 10px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, $accent-orange));
    margin-bottom: 1%;
}

footer {
    color:  $accent-blue;
    text-align: center;
}

/* Classes */
.navbar {
    background-color: $base-gray !important;
}

.nav-link, .navbar-brand {
    color: $accent-blue !important;
    :hover {
        color:$accent-blue-shade !important;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 205, 223, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  
.navbar-toggler {
    border-color: $accent-blue !important;
} 

.firstslave {
	display: inline-block;
  	padding-right: 1px;
  	transition: all 1s;
}

.secondslave { 
    display: inline-block;
	padding-left: 1px;
	transition: all 1s;
}

.nav-item:hover .firstslave {
	display: inline-block;
	padding-right: 10px;
	transition: all 1s;
}

.nav-item:hover .secondslave {
	display: inline-block;
	padding-left: 10px;
	transition: all 1s;
}

.cc {
    animation: color-change 6s infinite;
}

.border-gradient {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
}

.border-gradient-accent {
    border-image-source: linear-gradient(to left, $accent-orange, $accent-blue);
}

.blue {
    color: $accent-blue;
    :hover {
        color: $accent-blue-shade
    }
}

.links {
    padding-top: 15px;
    i, a {
    padding-left: 6px;
    color:  $accent-blue;
        :hover {
            color: $accent-blue-shade;
        }
    }
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
}
  
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-orange;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
}

/* ID's */
#showcase {
    color: white;
}

/* Keyframes */
@keyframes color-change {
    0% {
        color: $accent-blue;
    }
    50% {
        color: $accent-orange;
    }
    100% {
        color: $accent-blue;
    }
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }