footer {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	font-family:"Inconsolata", monospace;
	align-content: center;
	text-align: center;
	padding-bottom: 0.25%;
	padding-top: 0.25%;
}

footer a, footer a:visited, footer a:hover, footer a:active {
	color: #FFAB52;
	text-decoration:none;
}

hr {
    margin: 30px auto;
    height: 200px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #000000));
    margin-bottom: 1%;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 175%;
	margin-left: 2%;
}

.navbar-nav {
	margin-right: 2%;
	font-family:"Inconsolata", monospace;
	font-size: 110%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(126, 205, 223, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(126, 205, 223);
} 

.navbar a {
	color: #7ECDDF;
}

.navbar a:hover {
	color: #5F9AA7;
}

.nav-item {
	padding-right: 10px;
}

.firstslave {
	display: inline-block;
  	padding-right: 1px;
  	transition: all 1s;
}

.secondslave { display: inline-block;
	padding-left: 1px;
	transition: all 1s;
}

.nav-item:hover .firstslave {
	display: inline-block;
	padding-right: 10px;
	transition: all 1s;
}

.nav-item:hover .secondslave {
	display: inline-block;
	padding-left: 10px;
	transition: all 1s;
}

.portfolio h1 {
	font-family: "Inconsolata", monospace;
	text-align: center;
	margin-top: 20px auto;
}

.portfolio h4 {
	font-family: "Inconsolata", monospace;
	text-align: center;
}

.portfolio p {
	font-family: "Inconsolata", monospace;
	text-align: left;
}

/* Credit for this CSS goes to Tobias Ahlin and his CSS SpinKit. */
.spinner {
  margin: 25px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}