/* Element level CSS first */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    background-color: #1b1b1b;
    color: #5d626a;
}

a {
    text-decoration: none;
    color: #5d626a;
}

a:hover {
    color: #85898F;
}

main {
    text-shadow: 2px 2px 4px #0f0f0f;
}

input, textarea {
    width: 90%;
    margin-top: 1%;
}

footer {
    color: #5d626a;
    text-shadow: 2px 2px 4px #0f0f0f;
}
/* End Element level CSS */

/* Classes in order of appearance in HTML */
/* Navbar */
.navbar a {
    margin-top: 25px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-size: 13px;
}

/* Navbar vertical dividers with border-right & some padding*/
.navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
}

.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px solid #5d626a;
}

/* Overwriting BS5 Toggler icon default colors */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(93, 98, 106, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: #5d626a !important;
}

/* Overwriting Bootstrap 5 defaults */
.bg-dark {
    background-color: transparent !important;
    transition: 1s;
}

.bg-dark.scrolled {
    background-color: #1b1b1b !important;
}
/* End Navbar */

/* Landing */
.banner {
    max-width: 100%;
    background-color: white;
}

.banner-content-left {
    height: 200px;
    width: 350px;
    position: absolute;
    top: 160px;
    left: 100px;
}

.banner-content-right {
    height: 200px;
    width: 350px;
    position: absolute;
    top: 160px;
    right: 80px;
}

.banner-content-left h1, .banner-content-right h1 {
    font-size: 32px;
    letter-spacing: 5px;
}

/* Mouse Scroll Down icon */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #1b1b1b;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #1b1b1b;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scrolldown;
}
/* End landing */

/* About section */
.about {
    color: #5d626a;
}

/* Customizing Animate.css animation */
.fadingIn {
    animation: fadeInLeft;
    animation-duration: 2s;
}
/* End Animate.css */

/* Custom version of responsive Bootstrap timeline found here: */
.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}

.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}

.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #232323;
    left: -3px
}

.main-timeline .icon:after {
    border: 2px solid #c6c6c6;
    left: 3px
}

.main-timeline .timeline:hover .icon:before {
    left: 3px
}

.main-timeline .timeline:hover .icon:after {
    left: -3px
}

.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}

.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #c6c6c6;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}

.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #232323;
    left: -6px
}

.main-timeline .date-outer:after {
    border: 2px solid #c6c6c6;
    left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}

.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}

.main-timeline .month {
    font-size: 18px;
    font-weight: 700
}

.main-timeline .year {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #5d626a;
    line-height: 36px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}
/* End timeline */
/* End about */

/* Projects section */
.card {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 5px #1b1b1b;
}

.card-img-overlay {
    color: white;
    background-color: #1b1b1be3;
    top: 60% !important;
}

.title {
    color: #85898F;
}
/* End projects */
/* End classes */

/* ID based CSS in order of appearance */
/* Audio button used by audio.js */
#play {
    font-size: 16px;
    cursor: pointer;
}

#landing {
    background-color: white;
}
/* End IDs */

/* Keyframes for animations in order of appearance */
/* Mouse scrolling animation on landing */
@keyframes scrolldown {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
/* End keyframes */

/* Media Querys in order of appearance */
@media (max-width: 1024px) {
  .banner-content-left, .banner-content-right {
    font-size: 12px;
    top: 120px;
    width: 300px;
  }
  .banner-content-left{
    left: 20px;
  }
  .banner-content-right {
    right: 20px;
  }
}

@media (max-width: 767px) {
  .banner-content-left, .banner-content-right {
    display: none;
  }
}

/* Timeline */
@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .year {
        font-size: 24px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
/* End Timeline */